<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__head">
        <a class="logo" href="index.html" aria-label="Перейти на главную страницу">
          Logotype
        </a>
      </div>
      <div class="footer__nav row">
        <div class="footer__column col-12 col-xl-3">
          <address class="footer__text">
            г. Москва, метро Бауманская, <br> ул. Бауманская, дом 44
          </address>

          <ul class="footer__contacts contacts">
            <li>
              <a href="tel:+70000000000">+7 000 000 00 00</a>
            </li>
          </ul>
        </div>

        <div class="col-12 col-xl-auto ml-auto">
          <ul class="footer__menu">
            <li>
              <a href="/">О компании</a>
            </li>
            <li>
              <a href="/">Партнёрская программа</a>
            </li>
            <li>
              <a href="/">Реклама</a>
            </li>
            <li>
              <a href="/">Пресс-центр</a>
            </li>
            <li>
              <a href="/">Вакансии</a>
            </li>
            <li>
              <a href="/">Помощь</a>
            </li>
            <li>
              <a href="/">Правила</a>
            </li>
          </ul>

          <div class="footer__row row">
            <div class="footer__column col-12 col-xl-6">
              <p class="footer__title">Мы в соц. сетях</p>
              <ul class="footer__soc soc">
                <li>
                  <a href="/" aria-label="Присоединяйтесь к нам в FaceBook" title="FaceBook">
                    <svg width="6.658" height="14.267">
                      <use xlink:href="#icon-logo-fb"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="/" aria-label="Присоединяйтесь к нам в Одноклассниках" title="Одноклассники">
                    <svg width="10.913" height="15.6">
                      <use xlink:href="#icon-logo-odn"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="/" aria-label="Присоединяйтесь к нам в Instagram" title="Instagram">
                    <svg width="15.462" height="15.462">
                      <use xlink:href="#icon-logo-inst"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-xl-6">
              <div class="footer__form-wrap">
                <p class="footer__title">Подписка на новости</p>
                <form method="POST" class="footer__form" action="https://httpbin.org/post" data-success="block-2">
                  <div class="footer__form-container">
                    <input class="simple" type="email" name="email" placeholder="example@mail.com" id="form2-email"
                      required="">
                    <label class="visually-hidden" for="form2-email">Email</label>
                    <button type="submit" class="btn btn-blue simple">Ok</button>
                  </div>
                </form>

                <div class=" d-flex inactive" data-success-block="block-2">
                  <img src="img/done.svg" alt="" width="20">
                  <p class="mb-0 ml-2">Благодарим за подписку!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="footer__bottom">
    <div class="container">
      <div class="footer__copy">
        <span>© ООО «Глобус», 2016 — 2019</span>
      </div>

      <ul class="footer__menu">
        <li>
          <a href="/">Политика конфиденциальности</a>
        </li>
        <li>
          <a href="/">Cookies</a>
        </li>
      </ul>
    </div>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Слайдеры и настройки -->
<script src="js/slick.js"></script>
<script src="js/sliders.js"></script>

<!-- Формы -->
<script src="js/backend.js"></script>
<script src="js/form.js"></script>

<!-- Основной файл -->
<script src="js/main.js"></script>
