<header class="header" data-header>
  <div class="header__top" data-header-top>
    <div class="header__container container">
      <div class="header__left">
        <a href="/">Режим работы</a>
      </div>
      <div class="header__right">
        <a href="/">Правила посещения</a>
      </div>
    </div>
  </div>
  <div class="header__nav nav" data-header-nav>
    <div class="header__container container" data-header-nav-container>
      <a class="header__logo logo" href="index.html" aria-label="Перейти на главную страницу">
        Logotype
      </a>
      <button class="header__nav-btn" aria-label="Открыть/закрыть меню" data-toggle-nav
        data-toggle-class="active"></button>

      <div class="header__nav-wrap">
        <div class="nav__wrap container">
          <nav class="nav__container">
            <ul class="nav__list">
              <li class="nav__item nav__drop">
                <a class="nav__link" href="/" data-nav-item data-nav-drop="drop-1">Меню</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="/" data-nav-item>Меню</a>
              </li>
              <li class="nav__item nav__drop">
                <a class="nav__link" href="/" data-nav-item data-nav-drop="drop-2">Меню</a>
              </li>
              <li class="nav__item nav__drop">
                <a class="nav__link" href="/" data-nav-item data-nav-drop="drop-3">Меню</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="/" data-nav-item>Меню</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="/" data-nav-item>Меню</a>
              </li>
            </ul>
          </nav>
          <div class="nav__log">
            <a class="nav__log-el" href="/" aria-label="Перейти к регистрации на сайте">Регистрация</a>
            <a class="nav__log-el" href="/" aria-label="Войти в личный кабинет">Вход</a>
            <a class="nav__log-el mob" href="/">Режим работы</a>
            <a class="nav__log-el mob" href="/">Правила посещения</a>
          </div>
        </div>
      </div>
    </div>

    <div class="nav__drop-menu" data-nav-drop-menu>
      <div class="container">

        <div class="nav__drop-wrap">
          <ul class="nav__drop-list" data-nav-drop-list="drop-1">
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
          </ul>
          <ul class="nav__drop-list" data-nav-drop-list="drop-2">
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
          </ul>
          <ul class="nav__drop-list" data-nav-drop-list="drop-3">
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
            <li class="nav__drop-item">
              <a href="/">Меню</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</header>
